.container {
  display: flex;
  justify-content: space-between;
}

.btn {
  padding: 10px 20px;
  width: 100px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background-color: crimson;
  color: white;
}

.btn:disabled {
  background-color: rgba(206, 21, 58, 0.461);
  cursor: not-allowed;
}
