.container {
}

.editor {
  display: flex;
  gap: 20px;
  height: 700px;
  position: relative;
}

.textArea {
  width: 100%;
}

.btn,
.addBtn {
  width: 36px;
  height: 36px;
  border: none;
  border-radius: 50%;
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-content: center;
  cursor: pointer;
}

.add {
  display: flex;
  gap: 15px;
  background-color: var(--bg);
  position: absolute;
  z-index: 10;
  width: 100%;
  left: 50px;
}

.input {
  padding: 50px;
  font-size: 3rem;
  border: none;
  background-color: transparent;
  outline: none;
  cursor: pointer;
  color: var(--softTextColor);
}

.input::placeholder {
  color: gray;
}

.postBtn {
  position: absolute;
  padding: 10px 20px;
  border-radius: 5px;
  border: none;
  font-size: 1rem;
  top: 30px;
  right: 20px;
  background-color: rgb(10, 175, 10);
  color: white;
  cursor: pointer;
}
